.mainContent {
  width: 82%;
  height: 100%;
  padding: 2rem;
  overflow: auto;

  .bottom {
    margin-top: 2rem;
    gap: 1.5rem;
    align-items: flex-start;
  }
}

@media screen and (max-width: 918px) {
  .mainContent {
    .bottom {
      flex-direction: column;
    }
  }
}
