@use './vars';

.container {
  width: 95vw;
  height: 95vh;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: vars.$bg-color;
  box-shadow: 2px 2px 8px vars.$grey-text;
  overflow: hidden;
}
