@use '../../../styles/vars';

.listingSection {
  flex-basis: 75%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: vars.$h2-font-size;
      font-weight: 700;
      color: vars.$black-color;
    }

    .btn {
      border: 1px solid transparent;

      &:hover {
        border: 1px solid vars.$primary-color;
      }
    }
  }

  .secContainer {
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .singleItem {
      width: 150px;
      height: 200px;
      padding: 1rem;
      border-radius: 10px;
      flex-direction: column;
      gap: 0.5rem 0;
      position: relative;
      background-color: vars.$item-card-color;

      &:hover {
        background: vars.$item-card-hover;
        box-shadow: 0 2px 2px vars.$input-color;
      }

      .icon {
        position: absolute;
        top: -5px;
        right: -5px;
        color: vars.$primary-color;
        z-index: 12;
      }

      img {
        max-width: 80%;
        height: 80%;
        object-fit: cover;
      }

      h3 {
        width: 80%;
        font-size: vars.$h3-font-size;
        text-align: center;
        color: vars.$black-color;
      }
    }
  }

  .sellers {
    width: 100%;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;

    .topSellers,
    .featuredSellers {
      flex-direction: column;

      .heading {
        .btn {
          padding: 0.5rem 1rem;
        }
      }

      .card {
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        margin-top: 0.25rem;
        gap: 1rem;
        background: vars.$white-color;
        box-shadow: 0 2px 4px vars.$input-color;

        .users {
          padding-right: 1rem;
          border-right: 2px solid vars.$grey-text;

          img {
            width: 30px;
            height: 30px;
            border: 2px solid vars.$input-color;
            border-radius: 50%;
            object-fit: cover;

            &:hover {
              transition: 0.5s ease;
              transform: translateY(-10px);
            }
          }
        }

        .cardText {
          span {
            font-weight: 500;
            color: vars.$black-color;
          }

          small {
            font-weight: 400;

            .date {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .listingSection {
    flex-basis: 50%;

    .sellers {
      .topSellers,
      .featuredSellers {
        .heading {
          .btn {
            margin-left: 0;
          }
        }

        .card {
          padding: 1rem;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 918px) {
  .listingSection {
    width: 100%;

    .secContainer {
      flex-wrap: nowrap;

      .singleItem {
        width: 180px;
      }
    }

    .sellers {
      .topSellers,
      .featuredSellers {
        width: 50%;

        .heading {
          padding: 1rem 0 1rem;
        }

        .card {
          width: 100%;
          flex-direction: row;
          align-self: flex-start;
          justify-content: space-between;

          .cardText {
            small {
              .date {
                margin-left: 0.35rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .listingSection {
    .secContainer {
      flex-direction: column;
    }

    .sellers {
      .topSellers,
      .featuredSellers {
        .card {
          flex-direction: column;

          .cardText {
            small {
              .date {
                margin-left: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 495px) {
  .listingSection {
    .heading {
      h1 {
        padding: 0.5rem 0;
      }
    }

    .sellers {
      flex-direction: column;
      align-items: center;

      .topSellers,
      .featuredSellers {
        width: 100%;

        .heading {
          h3 {
            padding: 0.5rem 0;
          }
        }

        .card {
          flex-direction: row;
          justify-content: space-between;

          .users,
          .cardText {
            width: 50%;

            small {
              .date {
                margin-left: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}
