/* Colors and Styles (Default) */
$primary-color: hsl(94, 59%, 35%);
$hover-color: #bdf094;
$pale-green: hsl(96, 75%, 89%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 10%);
$text-color: hsl(240, 1%, 48%);
$bg-color: hsl(220, 10%, 94%);
$grey-text: rgb(190, 190, 190);
$input-color: hsl(330, 12%, 97%);

/* Fonts and Typography */
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smallest-font-size: 0.75rem;

.sideBar {
  gap: 1rem;
  width: 18%;
  height: 100%;
  background: $white-color;
  box-shadow: 1px 0px 4px $grey-text;
  overflow: auto;

  .logoDiv {
    padding: 1.5rem 1.5rem 0;
    cursor: pointer;

    img {
      max-width: 65px;
      padding: 0.2rem;
      border-radius: 2px;
      margin-right: 0.5rem;
      background: $input-color;
    }

    h2 {
      font-size: $h2-font-size;
      color: $primary-color;
    }
  }

  .menuDiv,
  .settingsDiv {
    .divTitle {
      padding: 0 1.5rem 1.5rem;
      font-size: $h3-font-size;
      color: $black-color;
    }

    .menuLists {
      .listItem {
        width: 100%;
        padding: 0.2rem 1.5rem;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 5px;
          height: 0;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background: $primary-color;
        }

        .menuLink {
          font-weight: 500;
          color: $grey-text;

          .icon {
            margin-right: 0.5rem;
          }
        }

        &:hover .menuLink {
          transition: 0;
          color: $primary-color;
        }

        &:hover::before {
          height: 100%;
          transition: 0.3s ease;
        }
      }
    }
  }

  .sideBarCard {
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: center;

    .icon {
      position: absolute;
      top: -8px;
      right: 50%;
      z-index: 100;
      border: 10px solid $white-color;
      border-radius: 50%;
      font-size: 3rem;
      background: $hover-color;
      transform: translate(50%);
    }

    .cardContent {
      position: relative;
      padding: 1rem;
      border-radius: 10px;
      background: $hover-color;
      overflow: hidden;

      .circle1,
      .circle2 {
        position: absolute;
        border-radius: 50%;
        background: $pale-green;
        opacity: 0.7;
      }

      .circle1 {
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
      }

      .circle2 {
        bottom: -80px;
        right: -70px;
        z-index: 1;
        width: 150px;
        height: 150px;
      }

      h3 {
        padding: 1rem 0;
        margin-top: 1rem;
        font-size: $h3-font-size;
        font-weight: 800;
        color: $black-color;
      }

      p {
        padding-bottom: 1rem;
        font-size: $normal-font-size;
        font-weight: 500;
        color: $text-color;
      }

      .btn {
        position: relative;
        color: $text-color;
        z-index: 1000;
      }
    }
  }
}
