@use '../../shared/styles/vars';

.topSection {
  .headerSection {
    justify-content: space-between;

    .title {
      h1 {
        font-size: vars.$h1-font-size;
        font-weight: 700;
        color: vars.$black-color;
      }

      p {
        font-size: vars.$normal-font-size;
        font-weight: 500;
        color: vars.$text-color;
      }
    }

    .searchBar {
      border-radius: 5px;
      gap: 1rem;
      padding: 1rem 2rem;
      background: vars.$white-color;
      box-shadow: 0 2px 4px vars.$input-color;

      input {
        border: none;
        outline: none;
        background: none;
      }

      .icon {
        color: vars.$text-color;

        &:hover {
          color: vars.$primary-color;
        }
      }
    }

    .adminDiv {
      gap: 1rem;

      .icon {
        padding: 5px;
        border-radius: 5px;
        font-size: vars.$biggest-font-size;
        color: vars.$text-color;
        background: vars.$white-color;
        box-shadow: 0 2px 4px vars.$input-color;
      }

      .adminImage {
        width: 2.5rem;
        border: 3px solid vars.$white-color;
        border-radius: 10px;
        box-shadow: 0 2px 4px vars.$input-color;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }

  .cardSection {
    margin-top: 3rem;

    .leftCard {
      height: 200px;
      padding: 2rem;
      border-radius: 1rem;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-basis: 70%;
      position: relative;
      overflow: hidden;

      h1,
      p,
      .btn {
        z-index: 100;
      }

      h1 {
        padding: 1rem 1rem 0;
        font-size: vars.$h1-font-size;
        font-weight: 800;
        color: vars.$white-color;
      }

      p {
        padding: 1rem;
        font-weight: 500;
        color: vars.$pale-green;
      }

      .buttons {
        gap: 1rem;

        .btn {
          padding: 0.8rem 1.5rem;
          border: 2px solid transparent;
          color: vars.$primary-color;
          box-shadow: none;
        }

        .transparent {
          border: 2px solid vars.$pale-green;
          background: none;
          color: vars.$pale-green;

          &:hover {
            color: vars.$primary-color;
            background: vars.$pale-green;
          }
        }
      }

      .videoDiv {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .rightCard {
      flex-basis: 30%;

      .main {
        height: 200px;
        padding: 1rem;
        border-radius: 1rem;
        justify-content: space-between;
        position: relative;
        gap: 1rem;

        &::before {
          content: '';
          width: 75%;
          height: 100%;
          border-radius: 1rem;
          position: absolute;
          left: 0;
          bottom: 0;
          background: vars.$pale-green;
        }

        .textDiv {
          z-index: 100;

          h1 {
            padding-bottom: 1rem;
            font-size: vars.$h1-font-size;
            color: vars.$black-color;
          }

          .flex {
            font-weight: 500;
            gap: 1.5rem;
            color: vars.$black-color;

            small {
              padding: 0.5rem 0;
              display: block;
              font-size: vars.$normal-font-size;
              font-weight: 500;
              color: vars.$primary-color;
            }
          }

          .link {
            margin-top: 2rem;
            cursor: pointer;

            &:hover {
              color: vars.$primary-color;

              .icon {
                transform: translateX(10px);
                transition: 0.3s ease;
              }
            }
          }
        }

        .imageDiv {
          transform: translateY(-1px);

          img {
            width: 175px;
          }
        }
      }

      .sideBarCard {
        display: none;
        width: 100%;
        padding: 1rem;
        position: relative;
        text-align: center;

        .icon {
          border: 10px solid vars.$white-color;
          border-radius: 50%;
          position: absolute;
          top: -8px;
          right: 50%;
          z-index: 100;
          font-size: 3rem;
          background: vars.$hover-color;
          transform: translate(50%);
        }

        .cardContent {
          padding: 1rem;
          border-radius: 10px;
          position: relative;
          background: vars.$hover-color;
          overflow: hidden;

          .circle1,
          .circle2 {
            border-radius: 50%;
            position: absolute;
            background: vars.$pale-green;
            opacity: 0.7;
          }

          .circle1 {
            width: 100px;
            height: 100px;
            top: -50px;
            left: -50px;
          }

          .circle2 {
            width: 150px;
            height: 150px;
            bottom: -80px;
            right: -70px;
            z-index: 1;
          }

          h3 {
            padding: 1rem 0;
            margin-top: 1rem;
            font-size: vars.$h3-font-size;
            font-weight: 800;
            color: vars.$black-color;
          }

          p {
            padding-bottom: 1rem;
            font-size: vars.$normal-font-size;
            font-weight: 500;
            color: vars.$text-color;
          }

          .btn {
            position: relative;
            color: vars.$text-color;
            z-index: 1000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .topSection {
    .cardSection {
      flex-direction: column;

      .rightCard,
      .leftCard {
        width: 100%;
        flex-basis: 100%;
      }

      .rightCard {
        margin-top: 1rem;
        align-self: flex-start;

        .sideBarCard {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .topSection {
    .headerSection {
      .searchBar {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 725px) {
  .topSection {
    .cardSection {
      .rightCard {
        .main {
          width: 100%;
        }

        .sideBarCard {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .topSection {
    .headerSection {
      .title {
        margin: auto;
        text-align: center;
      }

      .adminDiv {
        display: none;
      }
    }

    .cardSection {
      .leftCard {
        text-align: center;

        .buttons {
          width: 80%;
          margin: auto;
          flex-direction: column;

          .btn {
            width: 100%;
          }
        }
      }

      .rightCard {
        .main {
          background: vars.$pale-green;

          .textDiv {
            margin: auto;
          }

          .imageDiv {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .topSection {
    .cardSection {
      .leftCard {
        padding: 2rem 1rem;

        h1 {
          font-size: vars.$h2-font-size;
        }
      }
    }
  }
}
