@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s ease;
}

/* Colors and Styles (Default) */
$primary-color: hsl(94, 59%, 35%);
$hover-color: #bdf094;
$pale-green: hsl(96, 75%, 89%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 10%);
$text-color: hsl(240, 1%, 48%);
$bg-color: hsl(220, 10%, 94%);
$grey-text: rgb(190, 190, 190);
$input-color: hsl(330, 12%, 97%);

/* Fonts and Typography */
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smallest-font-size: 0.75rem;

/* Default Styles */
html {
  font-size: 90%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-color;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px $grey-text;
}

.btn {
  padding: 0.8rem 1rem;
  border: unset;
  border-radius: 8px;
  outline: unset;
  box-shadow: 0 2px 4px $input-color;
  color: $text-color;
  cursor: pointer;
}

.btn:hover {
  background: $pale-green;
  color: $primary-color;
}

.icon {
  font-size: $h2-font-size;
}

.btn,
.icon {
  margin-left: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}
